<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">BROWSE TASKS</h1>
            <p class="lead">View requests for help and see where you can be of assistance in your community. Make a
                contribution in your local area and be a hero to those in need today.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="row row-cols-1 row-cols-md-5">
        {{#each task}}
        <div class="card border-dark mb-3 task" data-id="{{ this.id }}" style="max-width: 18rem;">
            <div class="card-header">{{ this.Category.name }}</div>
            <div class="card-body text-dark">
                <h5 class="card-title">{{ this.title }}</h5>
                <p class="card-text">{{ this.description }}</p>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-dark">ACCEPT TASK</button>
            </div>
        </div>
        {{/each}}
    </div>
</section>
