html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.card {
    margin-left: 40px;
}

.nav-link {
 margin-right: 20px;
}

.jumbotron, 
#landing {
    background-color: #efefef;
}