html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.nav-link {
 margin-right: 20px;
}

.jumbotron, 
#landing {
    background-color: #efefef;
}